@charset "utf-8";
/* CSS Document */

.clear{
	clear:both;
	float:none;
}

em{
	font-size:11px;
}

td{
	text-align:left;
	vertical-align:top;
}
	td p{
		margin:10px 0 10px 0;
	}
	td img{
		margin:10px 0 10px 0;
	}
	td h2{
		margin:0 0 10px 0;
		color:#333;
		font-weight:normal;
	}

center{
	font-size:11px;
}

#iphone4HerroWrapper{
	position:relative;
	width:700px;
	height:307px;
	background:url(../images/iphone4/bgHerro.jpg) top left no-repeat;
	margin:20px 0 20px 0;
	padding:28px 0 0 0;
}
	#iphone4HerroWrapper img{
		position:relative;
		float:left;
	}
	.iphone4HerroTxt{
		position: relative;
		float:left;
		width:330px;
		margin:0 0 0 30px;
		padding:40px 0 0 0;
	}
		.iphone4HerroTxt p{
			font-size:15px;
		}
		.iphone4HerroTxt h3{
			font-size:19px;
		}

.iphone4FeaturesFront{
	position:relative;
	width:700px;
	margin:0 0 10px 0;
}
	.iphone4FeaturesFront div:first-child{
		margin:0 0 0 0;
	}
	.iphone4FeaturesFront .iphone4Feature{
		position:relative;
		float:left;
		width:226px;
		margin:0 0 0 10px;
	}
		.iphone4Feature img, .iphone4Feature p, .iphone4Feature h2{
			position:relative;
			float:left;
			margin:0 0 0 0;
		}
		.iphone4Feature p{
			font-size:11px;
		}
		.iphone4Feature h2{
			font-size:13px;
			margin:0 0 2px 0;
			width:163px;
		}
		.iphone4Feature img{
			margin:0 7px 0 0;
		}

.iphone4Makeover{
	position:relative;
	width:700px;
	background:url(../images/iphone4/deviderHorizontal_700x2.jpg) no-repeat top left;
	padding:30px 0 0 0;
}
	.iphone4Makeover p, .iphone4Makeover h2, .iphone4Makeover img{
		position:relative;
		float:left;
	}
	.iphone4Makeover p{
		width:500px;
	}
	.iphone4Makeover img{
		margin:0 20px 0 0;
	}
	.iphone4Makeover h2{
		margin:0 0 10px 0;
	}
	
/** Abonnement **/
.abonnementHeroImg{
	position:relative;
	float:left;
}

.iphone4Abonnement{
	position:relative;
	float:left;
	width:430px;
	height:291px;
	padding:0 0 0 30px;
	margin:0 0 20px 0;
}
	.iphone4Abonnement img{
		position: absolute;
		right:0px;
		top:0px;
	}
	.iphone4Abonnement p{
		margin:0 0 50px 0;
	}

.iphone4AbonnementPris{
	position:relative;
	background:url(../images/iphone4/deviderHorizontal_repeat.jpg) repeat-x bottom left;
	padding:0 0 20px 0;
	margin:12px 0 0 0;
}
	.iphone4AbonnementPris p{
		width:330px;
		margin:0 0 0 0;
	}
	.iphone4AbonnementPris h2{
		display:block;
		bottom:20px;
		right:0px;
		width:100px;
		position:absolute;
		text-align:right;
		margin:0 0 0 0;
	}
	.iphone4AbonnementPris strong{
		display:block;
		margin:0 0 5px 0;
	}

/** Sammenlign **/

.iphone4SammenlignHero{
	position:relative;
	width:700px;
	height:296px;
	background:url(../images/iphone4/sammenlignBgHero.jpg) no-repeat 0 5px ;
	padding-top:15px;
}
	.iphone4SammenlignHero img{
		position:relative;
		float:left;
	}

.iphone4SammenlignTxt{
	position:relative;
	float:left;
	width:190px;
	height:296px;
	padding:0 0 0 14px;
}
	.iphone4SammenlignTxt h2{
		color:#333;
		font-weight:normal;
		margin-top:45px;
	}

.iphone4CommenFeauters{
	position:relative;
	width:700px;
	margin:30px 0 0 0;
}
.iphone4CommenFeauters .featuer{
	position:relative;
	float:left;
	width:175px;
	height:56px;
}
	.iphone4CommenFeauters .featuer img, .featuer p{
		float:left;
		font-weight:bold;
	}
	.iphone4CommenFeauters .featuer p{
		margin:0 0 0 8px;
		padding:8px 0 0 0;
	}
	
/** iOS4 **/

.iphoneOsFeauters td img{
	position:relative;
	float:left;
	margin:10px 20px 50px 0;
}

.iphoneOsFeauters td h2{
	margin-top:10px;
}

.iphoneOsFeauters{
	margin-bottom:10px;
}