/* Telia Form Controls Component
 * @description: Tested in IE6-8, FF2-3, Opera 9, Safari 3, Chrome 1 on Windows
 * @author Jon Ege Ronnenberg (logicLAB)
 * @version: 1.0
=============================================*/

/** Telia Input
 * @description: It can be variable length but always 26px height, if you alter this the design will crash.
 * @syntax: <input type="text" value="[optional]" />
 */
input {
	background-color:transparent;
	background-image:url(http://static.telia.dk/images/eva/input_right.png);
	background-repeat:no-repeat;
	border:medium none;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:12px;
	height:26px;
	padding-top:6px;
}