<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>T-frame Test</title>
		<link rel="stylesheet" type="text/css" href="http://static.telia.dk/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="http://static.telia.dk/components/tests/t09_frame/t_frame.css" />
		<style type="text/css">
			h1, h5, p, pre{
				padding-left: 1em;
			}
		</style>
	</head>
	<body>
		<div class="t-frame-small">
			<div class="t-frame-middle">
				<div class="t-frame-bottom">
					<h1>H1</h1>
					<p>
						pppppp ppppppp pp pppppppp pppp ppppp
						pp pppp ppppp ppppp
						ppppppp pp ppppp pp
					</p>
					<p>ppppppppp ppppppp</p>
					<h5>h5h5h5h5</h5>
					<p>ppppppppp ppppppp</p>
					<pre>prepreprepreprepre</pre>
				</div>
			</div>
		</div>
		<hr />
		<div class="t-frame-small-w-bottom">
			<div class="t-frame-middle">
				<div class="t-frame-bottom">
					<h1>H1</h1>
					<p>
						pppppp ppppppp pp pppppppp pppp ppppp
						pp pppp ppppp ppppp
						ppppppp pp ppppp pp
					</p>
					<p>ppppppppp ppppppp</p>
					<h5>h5h5h5h5</h5>
					<p>ppppppppp ppppppp</p>
					<pre>prepreprepreprepre</pre>
				</div>
			</div>
		</div>
		<hr />
		<div class="t-frame-wide">
			<div class="t-frame-middle">
				<div class="t-frame-bottom">
					<h1>H1</h1>
					<p>
						pppppp ppppppp pp pppppppp pppp ppppp
						pp pppp ppppp ppppp
						ppppppp pp ppppp pp
					</p>
					<p>ppppppppp ppppppp</p>
					<h5>h5h5h5h5</h5>
					<p>ppppppppp ppppppp</p>
					<pre>prepreprepreprepre</pre>
				</div>
			</div>
		</div>
		<hr />
		<div class="t-frame-wide-w-magenta">
			<div class="t-frame-middle">
				<div class="t-frame-bottom">
					<h1>H1</h1>
					<p>
						pppppp ppppppp pp pppppppp pppp ppppp
						pp pppp ppppp ppppp
						ppppppp pp ppppp pp
					</p>
					<p>ppppppppp ppppppp</p>
					<h5>h5h5h5h5</h5>
					<p>ppppppppp ppppppp</p>
					<pre>prepreprepreprepre</pre>
				</div>
			</div>
		</div>
	</body>
</html>
